pom.xml.versionsBackup
dependency-reduced-pom.xml

.*
!.gitignore
!.mvn
.idea
.mvn/wrapper/maven-wrapper.jar
target
allure-results
siva-test.iml

### Project specific ###
/src/test/resources/application.properties
