# SiVa configuration
siva.application-context-path=
siva.hostname=localhost
siva.port=8080
siva.protocol=http
siva.request-size-limit=28311552

# Test configuration
test-files-directory=src/test/resources/
rest-assured-console-logging=true
allure-rest-request-limit=2000000
allure-rest-response-limit=5000000
